.row-header {
    margin: 0px auto;
    padding: 0px auto;

}
@media(max-width:480 px){ /*used to add padding,margin or other necessary props to style div classes */
.jumbotron{
    padding-left:50px
    padding-right 50px
    padding-top 50px
    padding-bottom 50px;

}

}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge; 
    min-height: 400px;
}
.footer {
    background-color: #c7b7e4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color:#6c3b88  !important; 
    color: floralwhite !important;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark {
    background-color:#512da8 !important;
}
.fa-phone{
    font-size:15px;
}
.fa-fax{
    font-size:15px;
}
.fa-envelope{
    font-size:15px;
}
