.row-header {
    margin: 0px auto;
    padding: 0px auto;

}
.form-control{
    width:80%;
}
@media(max-width:480 px){ /*used to add padding,margin or other necessary props to style div classes */
.jumbotron{
    padding-left:50px
    padding-right 50px
    padding-top 50px
    padding-bottom 50px;

}



}
.mt-0{
    margin-right:50px;
    padding-right:50px;
}
.mt-1{
    margin-left:50px;
    padding-left:50px;
}
#pizzaflex{
    margin:50px;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge; 
    min-height: 400px;
}
#rowquote{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
    border-bottom:0px; /* used id selector in css to remove border from this row content*/
}
#d-flexrow{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
    border-bottom:0px; /* used id selector in css to remove border from this row content*/
}

.footer {
    background-color: #c7b7e4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-size: 1000%;
}
.footer-contactus{
    background-color: #c7b7e4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-size: 1000%;
}
.full-width-div{
    position: absolute;
    width:100%;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color:#6c3b88  !important; 
    color: floralwhite !important;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark {
    background-color:#512da8 !important;
}
.fa-phone{
    font-size:15px; /* Pelicana Chicken icon at top left can be a custom icon of company logo, alongside rectangular logo*/
}
.fa-fax{
    font-size:15px;
}
.fa-envelope{
    font-size:15px;
}
