.row-header {
    margin: 0px auto;
    padding: 0px auto;

}
.form-control{
    width:80%;
}
@media(max-width:480 px){ /*used to add padding,margin or other necessary props to style div classes */
.jumbotron{
    padding-left:50px
    padding-right 50px
    padding-top 50px
    padding-bottom 50px;

    
    

}

#buffetbadge{
    text-align:center;
    }

.text-right{
    margin:50px;
}
#cardimg{
    max-width: 200%;
    height:auto;
}
#cardimg2{
    width:50%;
    height:auto;
    padding-top:20px;
}
#cardimg3{
    width:42%;
    height:auto;
    padding-top:20px;
    border: 0px;    
}


}
.custom-container{
border-radius:2px; /* best way to align content horizontally on a page is to add border and border-radius*/
border:1px solid black;
padding-top:-500px;
}
#cardheaders{
    border:0px;

    font-size:24px;
    
}
.card-img-right{
    width:100%;
    height:auto;
}
#cardimg{
    width:72%;
    height:auto;
}
#cardimg2{
    width:50%;
    height:auto;
    padding-top:20px;
}
#cardimg3{
    width:42%;
    height:auto;
    padding-top:20px;
    border: 0px;    
}

#Radios1{
    margin:5px;
}
#cardsideheader{
    padding-right:50px;
}
#card2{
    width:100%;
    border:0px;
    margin-bottom:50px;
}
#card1{
width:100%;
border:0px;
margin-bottom:50px;

}
#card3{
    width:100%;
    border:0px;
    margin-bottom:50px;

    
}
#smbutton{
 margin-left:70px;
}
    


.mt-1{
    margin-left:50px;
    padding-left:50px;
}
#pizzaflex{
    margin:50px;
}
.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge; 
    min-height: 400px;
}


#rowquote{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
    border-bottom:0px; /* used id selector in css to remove border from this row content*/
}
#d-flexrow{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    min-height: 400px;
    border-bottom:0px; /* used id selector in css to remove border from this row content*/
}

.footer {
    background-color: #c7b7e4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-size: 1000%;
}
.footer-contactus{
    background-color: #c7b7e4;
    margin: 0px auto;
    padding: 20px 0px 20px 0px;
    background-size: 1000%;
}
.full-width-div{
    position: absolute;
    width:100%;
}

.jumbotron{
    padding: 70px 30px 70px 30px;
    margin: 0px auto;
    background-color:#6c3b88  !important; 
    color: floralwhite !important;
}

.address{
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}
body{
    padding:50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark {
    background-color:#512da8 !important;
}
.fa-phone{
    font-size:15px; /* Pelicana Chicken icon at top left can be a custom icon of company logo, alongside rectangular logo*/
}
.fa-fax{
    font-size:15px;
}
.fa-envelope{
    font-size:15px;
}
